@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

.figure {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  margin: 5px;
  max-width: 300px;
  width: 90%;
  color: #333;
  text-align: center;
}

.img_author {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}