$logo: #3DBB3D;
$gray: #777777;
$black: #070707;
$green: #759589;
$aqua: #35645f;
$white: #FFFFFF;

.cart {
  margin: auto;
  width: 50%;
  height: 90%;
  border: 2px solid #759589;
  border-radius: 10px;
  background: rgb(255, 255, 255);
}

.summary__card__img {
  flex: 1 1 30%;
  text-align: center;
  width: 50%;
  height: 90%;
}