$gray: #777777;
$black: #070707;
$green: #759589;
$aqua: #35645f;

// on label
.farmer__label {
  color: $gray;
  width: 100%;
  font-size: 20px;
  margin-left: 2px;
  padding: 5px 0px 5px 0px;
}

// on text
.farmer__field {
  border-top: 0;
  width: 100%;
  font-size: 1em;
  color: $black;
  text-align: justify;
  text-justify: inter-word;
}

.credit__link__container {
  padding-top: 10px;
}

.credit__link {
  background-color: #7e978e8a;
  border-radius: 10px;
  text-align: center;
}

