@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Ledger&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

// Landing section -------------------------------------------------------------------------------

.landing-page {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.075), rgba(255, 255, 255, 0.35), rgba(255, 255, 255, 1)),
  url('../../../public/images/home/landing-page.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  mix-blend-mode: overlay;
}

hr {
  display: block;
  border-style: inset;
  border-width: 1px;
  color: white;
}

.hero {
  display: flex;
  flex-direction: column;
  font-family: "Lexend Deca";
  text-align: center;
  padding-top: 150px;
}

.hero__tagline {
  text-transform: uppercase;
  color: white;
  font-size: 40px;
  text-shadow: 2px 2px 4px #000000;
}

.hero__cta {
  margin: 5%;
  background-color: rgba(255, 255, 255, 0.603);
  width: 700px;
  margin: auto;
  margin-top: 5%;
  padding: 3%;
}

.hero__cta__info, .hero__btn--subscribe {
  font-size: 30px;
  margin: 3%;
}

.hero__btn--subscribe {
  color: white;
  background-color: #3A6857;
  width: 290px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 50px;
  margin-top: 40px;
}

// Boxes section -------------------------------------------------------------------------------
.card-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  .card-container {
    flex-direction: column;
  }
}

.column-three {
  flex: 1 1 30%;
  text-align: center;
}

.box-content, .recipe-content, .farmer__content {
  height: 170px;
  background-color: rgba(255, 255, 255, 0.698);
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-self: center;
  flex-direction: column;
}

.box-content {
  padding: 15px;
}

.box-content:hover {
  cursor: pointer;
}

.box-name {
margin-top: 15px;
}

.box-desc{
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-top: -40px;
}
.box__btn--info {
  padding-top: 10px;
  text-decoration: underline;
  text-underline-position: under;
}
.box-card, .menu-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.vegeterian-box {
  background-image: url('../../../public/images/boxes/vegetarian.jpg');
}

.family-box {
  background-image: url('../../../public/images/boxes/family.jpg');
}

.vegan-box {
  background-image: url('../../../public/images/boxes/vegan.jpg');
}

#Bäckdalens {
  background-image: url('../../../public/images/boxes/vegetarian.jpg');
}
#Brödhultsgården {
  background-image: url('../../../public/images/boxes/family.jpg');
}
#Salthamn {
  background-image: url('../../../public/images/boxes/vegan.jpg');
}
#Hållbar {
  background-image: url('../../../public/images/boxes/family.jpg');
}
#Ladbackens {
  background-image: url('../../../public/images/boxes/vegan.jpg');
}

.boxes-page {
  margin-top: 5%;
}

.img-box {
  opacity: 0.85;
}

// .content__info__img {
//   width: 480px; 
//   height: 380px; 
//   object-fit: cover;
// }

// .box__btn--info {
//   color: rgb(0, 0, 0);
//   font-size: 30px;
//   font-family: "Ledger";
// }

// About section -------------------------------------------------------------------------------

.about-page, .farmers-page, .developed-by__title {
  margin-top: 50px;
}

.content__title {
  text-align: center;
  margin-bottom: 5%;
  font-size: 45px;
  text-shadow: 2px 2px 3px #00000098;
  font-family: "Lexend Deca";
}

.content__info-about {
  font-family: 'Libre Baskerville';
  font-size: 20px;
  background-color: #F7F9F6;
  padding: 5%;
  text-align: center;
}

.accent {
  color: #CD883D;
}

.about__img {
  width: 100%; 
  height: 380px; 
  object-fit: cover;
}

// Farm section -------------------------------------------------------------------------------

.column-two {
  flex-basis: 50%;
  font-family: 'Libre Baskerville';
  background-color: #F7F9F6;
  text-align: center;
  display:inline-block;
}

.img-farm {
  height: 400px;
  width: 400px;
  object-fit: cover;
}

.content__info__txt {
  font-size: 15px;
  max-width: 480px;
  margin: auto;
  margin-top: 2%;
}

.column-two__info {
  margin: 50px;
}

.content__info--btn {
  background-color: #3A6857;
  padding: 10px 20px;
  border-radius: 50px;
  color: white;
}