.form__field {
  color: rgb(0, 0, 0);
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 14px;
  margin-bottom: 10px;
  width: 100%;
  border: 0px solid transparent;
  border-bottom: 1px solid #759589;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form__field:focus {
  background: #fff;
  box-shadow: 0;
  border-radius: 10px;
  color: #000;
  outline: none;
  padding: 15px;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.form__field:hover {
  background-color: #75958967;
  border-radius: 10px;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  transition: all 0.15s ease;
}