@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Ledger&family=Lexend+Deca&display=swap');

// .header {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    // justify-content: flex-start;
//     width: 90%;
//     padding-top: 30px;
//     color: white;
//     position: absolute;
// }

.logo {
    font-size: 50px;
    font-weight: 700; 
    margin-left: 4%;
}

.logo__eat {
    font-family: "League Script"; 
}

.logo__local {
    font-family: "Ledger"; 
}

.navigation {
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
  margin-left: auto;
  padding: 20px 20px 0 0;
  // pointer-events: all;
}

.navigation a, .nav-login {
  margin-left: 20px;
}
// .nav-cart {
//   padding: 0 25px;
// }

.nav-icon {
  font-size: 25px;
  float: right;
}

.nav-person {
  display: inline-flex;
}
.dropdown {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.603);
  padding: 10px 20px;
  color: #000;
}
.dropdown a {
  margin-left: 0;
}
.nav-logout {
  margin-top: 10px;
}

.nav-person-content {
  font-family: 'Lato';
  display: flex;
  flex-direction: column;
  align-items: center;
}

// .item a {
//     margin: 10px;
//     font-family: "Lexend Deca";
//     font-size: 25px;
// }

// .fa-user {
//     margin: 10px;
//     font-family: "Lexend Deca";
//     font-size: 25px;
// }

.header {
  position: relative;
  color: #fff;
  font-size: 18px;
}
.header-content {
  position: absolute;
  background-color: transparent;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  z-index:10;
  margin-top: 15px;
}

// .header a {
//   z-index:10;
//   pointer-events: all;
// }

.bars-logout:hover, .bars-login:hover {
  cursor: pointer;
}

.closed {
  visibility: hidden;
}

.bars-burger {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.bars {
  float: right;
}