@import "./index";
@import "./dropdown";
@import "./allboxes";
@import "./reset.local";
@import "./home";
@import "./authors";
@import "./navbar";
@import "./footer";
@import "./support";
@import "./map";
@import "./profile";
@import "./cart";
@import "./inputs";
@import "./checkout";
@import "./farmer";
@import "./boxes";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Script&family=Ledger&family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.main {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 30px;
  padding: 40px 0;
  font-family: "Lexend Deca";
}

h3 {
  font-size: 18px;
  font-family: "Lexend Deca";
}

h4 {
  font-size: 18px;
  font-family: "Lexend Deca";
}

p {
  font-size: 15px;
  font-family: 'Lato';
  font-weight: 400;
}

a {
  font-family: 'Lato';
  font-weight: 400;
}

// .box__info {
//   display: flex;
//   flex-wrap: wrap;
//   flex-direction: row;
//   justify-content: flex-start;
// }

// .box__info__columnn {
//   // flex-basis: 50%;
//   padding: 20px;
// }

// .box__img__container {
//   width: 300px;
//   height: 250px;
// }

.form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.success__txt {
  text-align: center;
}

.form__txt {
  text-align: center;
}